body {
    background-color: black;
    background-image: url(../images/dox.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    margin:0px;
    
}

#text{
    color:red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 96vh;
    font-size: 20px;
    white-space: pre-wrap;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    overflow: hidden;

}

#textt{
    color:red;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
    white-space: pre-wrap;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    overflow: hidden;

}

#popup{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: black;
}

.button {
background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

  }
